.page-remove-book-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 65vh;
  font-family: "Josefin Slab", serif;
  gap: 2rem;
}

.page-remove-book-container button {
  padding: 0.5rem 3rem;
  background-color: #111;
  color: #fff;
  cursor: pointer;
}
.page-remove-book-container button:hover {
  background-color: crimson;
  cursor: pointer;
}

.page-remove-book-book-table i:hover {
  color: crimson;
  cursor: pointer;
}

.page-remove-book-container input {
  padding: 0.5rem 3rem;
  border: none;
  border-bottom: var(--fcolor) solid 1px;
  border-radius: 5px;
  text-align: center;
}
