header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: "Josefin Slab", serif;
    
}

.header-title{
    margin-top: 1rem;
    font-size: 3rem;
    letter-spacing: 0.25rem;
    font-weight: 300;
    color: var(--fcolor);
}